.nav{
    height: 10vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    height: 8vh;
}

.burgerx{
    text-decoration: none;
    /* color: var(--secondary); */
    color: var(--tertiary);
}

